.button() {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;

  display: flex;

  padding-top: 15px;
  padding-bottom: 13px;

  text-decoration: none;
  text-transform: uppercase;

  color: @darkgray;
  border: 2px solid @darkgray;
  background-color: @white;

  justify-content: center;

  &:hover {
    color: @white;
    background-color: @darkgray;
  }

  &:active {
    color: rgba(255, 255, 255, .3);
    background-color: @darkgray;
  }
}

.container-adaptive() {
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;

  @media @tablet-width {
    min-width: 768px;
    max-width: 1000px;
  }

  @media @desktop-width {
    min-width: 1150px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.title() {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;

  color: @black;

  @media @tablet-width {
    font-size: 43px;
    line-height: 50px;
  }

  @media @desktop-width {
    font-size: 53px;
    line-height: 57px;
  }
}

.reser-list() {
  margin: 0;
  padding: 0;

  list-style: none;
}
