.modal-cart {
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;

  display: none;

  max-width: 568px;
  min-height: 337px;
  padding: 34px 30px 46px;

  transform: translate(-50%, -50%);

  border: 1px solid #c7c7c7;
  background-color: @white;
  box-shadow: 0 5px 10px rgba(0,1,1,.25);
}

.modal-cart--show {
  display: block;
}

.modal-cart__title {
  .title();

  margin-bottom: 18px;

  text-align: center;
  text-transform: uppercase;
}

.modal-cart__choice {
  padding: 0;

  border: none;
}

.modal-cart__description {
  line-height: 30px;

  margin: 0;
  margin-bottom: 27px;

  text-align: center;
}

.modal-cart__container {
  display: flex;

  width: 260px;
  margin: 0 auto 31px;

  justify-content: space-between;

  label {
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;

    width: 82px;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    border: 2px solid @lightgray;

    &:hover {
      border-color: #c7c7c7;
    }
  }

  input:checked + label {
    border-color: @cyan;
  }
}

.modal-cart__add-button {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;

  display: flex;

  margin: 0 auto;
  padding-top: 15px;
  padding-right: 24px;
  padding-bottom: 13px;
  padding-left: 24px;

  text-decoration: none;
  text-transform: uppercase;

  color: @white;
  border: none;
  outline: none;
  background-color: @cyan;

  justify-content: center;

  &:active {
    background-color: @darkcyan;
  }
}

@media @tablet-width, @desktop-width {
  .modal-cart {
    width: 568px;
    padding: 48px 106px 46px;
  }

  .modal-cart__title {
    font-size: 30px;
    line-height: 57px;

    margin-bottom: 28px;
  }

  .modal-cart__description {
    font-size: 17px;

    margin-bottom: 25px;
  }
}
