.page-header__wrapper {
  display: flex;
  flex-direction: column;

  min-width: 320px;
}

@media @mobile-width-only {
  .page-header__wrapper {
    .container-adaptive();
  }
}

@media @tablet-width {
  .page-header__wrapper {
    flex-direction: row;

    min-width: 768px;

    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media @desktop-width {
  .page-header__wrapper {
    flex-direction: row;

    min-width: 1150px;

    flex-wrap: wrap;
    justify-content: space-between;
  }
}
