.reviews {
  background-image: url('../img/bg-zigzag-line.svg');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 6px;
}

.reviews__wrapper {
  .container-adaptive();

  display: flex;
  flex-direction: column;

  padding-bottom: 50px;
  padding-left: 9%;

  background-image: none;
}

.reviews__title {
  .title();

  padding-top: 56px;
  padding-bottom: 25px;
}

.reviews__list {
  padding-bottom: 30px;
}

.reviews__item {
  display: flex;
  flex-direction: column;

  margin: 0;

  align-items: flex-start;

  &:nth-child(n+2) {
    display: none;
  }
}

.reviews__text {
  line-height: 30px;

  width: 88%;
  margin: 0;
  padding-bottom: 18px;
  padding-left: 1px;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;

  padding-bottom: 7px;

  color: @black;
}

.reviews__insta-name {
  font-size: 17px;
  line-height: 30px;
}

.reviews__nav-buttons {
  display: flex;

  padding-bottom: 38px;
  padding-left: 1px;

  align-self: flex-start;
  justify-content: center;
}

.reviews__nav-button {
  font-size: 0;
  line-height: 0;

  padding-top: 12px;
  padding-right: 41px;
  padding-bottom: 12px;
  padding-left: 37px;

  transition: opacity .3s ease;

  border: 1px solid @lightgray;

  &--prev {
    padding-right: 42px;

    border-right: none;
  }

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

.reviews__write-button {
  .button();

  width: 260px;
  margin-left: 1px;
}

@media @tablet-width {
  .reviews {
    background-position: 0 bottom;
    background-size: auto 15px;
  }

  .reviews__wrapper {
    flex-direction: row;

    padding-top: 83px;
    padding-right: 6.5%;
    padding-bottom: 145px;
    padding-left: 6%;

    background-image: url('../img/review@1x.jpg');
    background-repeat: no-repeat;
    background-position: 0 9px;
    background-size: 350px 457px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .reviews__title {
    width: 60%;
    padding-top: 0;

    order: 1;
  }

  .reviews__list {
    order: 3;
  }

  .reviews__item {
    font-size: 17px;
    line-height: 30px;

    width: 300px;
    padding-top: 26px;
  }

  .reviews__text {
    width: 700px;
    padding-bottom: 10px;
    padding-left: 3px;
  }

  .reviews__author-name {
    font-size: 18px;

    padding-left: 2px;
  }

  .reviews__insta-name {
    padding-left: 2px;
  }

  .reviews__nav-buttons {
    // align-self: flex-end;
    padding-top: 159px;

    order: 4;
  }

  .reviews__nav-button {
    padding-right: 19px;
    padding-left: 18px;

    border: none;
  }

  .reviews__write-button {
    width: 175px;
    margin-top: 5px;
    padding-left: 4px;

    order: 2;
  }
}

@media @retina-tablet {
  .reviews__wrapper {
    background-image: url('../img/review@2x.jpg');
  }
}

@media @desktop-width {
  .reviews {
    background-size: auto;
  }

  .reviews__wrapper {
    padding-right: 50px;
    padding-bottom: 151px;
    padding-left: 221px;

    background-position: 6.2% 15px;
  }

  .reviews__title {
    padding-top: 1px;
    padding-bottom: 24px;
  }

  .reviews__item {
    padding-top: 25px;
  }

  .reviews__text {
    padding-bottom: 10px;
    padding-left: 4px;
  }

  .reviews__author-name {
    font-size: 17px;

    padding-bottom: 6px;
    padding-left: 4px;
  }

  .reviews__insta-name {
    padding-left: 4px;
  }

  .reviews__nav-btns {
    padding-top: 158px;
  }

  .reviews__write-button {
    margin-top: 11px;
    padding-left: 5px;
  }
}
